<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <h1>Leave management</h1>
        <h2>Admin homepage</h2>
        <a href="#news">Review Leaves</a>
      </div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Employee Id</th>
            <th>Description</th>
            <th>Startdate</th>
            <th>Enddate</th>
            <th>Previous leaves</th>
            <th>Status</th>
            <th>Approved by</th>
          </tr>
        </thead>
        <tbody>
          <%if (records.length >0){ %>
          <% records.forEach(function(row){ %>
          <tr>
            <td><%= row.name %></td>
            <td><%= row.email %></td>
            <td><%= row.etype %></td>
            <td><%= row.hourlyrate %></td>
            <td><%= row.totalHour %></td>
            <td><%= row.totalHour %></td>
            <td><%= row.total %></td>
            <td><%= row.total %></td>
          </tr>
          <% })}else{ %>
            <tr>
                <td colspan="6">No Record Found</td>
                
              </tr>
            <% } %>
        </tbody>
      </table>

    </body>
    </html>