<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <h1>Leave management</h1>
        <h2>Manager homepage</h2>
        <h3>Previous leaves for employee :<%= records.name %></h3>

        <a href="/managerhomepage">Go to my homepage</a>
      </div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Employee Id</th>
            <th>Description</th>
            <th>Startdate</th>
            <th>Enddate</th>
            
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%if (records.length >0){ %>
          <% records.forEach(function(row){ %>
          <tr>
            <td><%= row.name %></td>
            <td><%= row.employeeid %></td>
            <td><%= row.description %></td>
            <td><%= row.startdate %></td>
            <td><%= row.enddate %></td>
            <td><%= row.status %>            </td>
          </tr>
          <% })}else{ %>
            <tr>
                <td colspan="6">No Record Found</td>
                
              </tr>
            <% } %>
        </tbody>
      </table>

    </body>
    </html>